@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Light mode styles */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --toggle-bg-color: #f3f4f6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

.dark {
  /* Dark mode styles */
  --bg-color: #1f2937;
  --text-color: #f3f4f6;
  --toggle-bg-color: #374151;
}

body.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark .dark-toggle {
  background-color: var(--toggle-bg-color);
}
    